{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <!-- الشريط الجانبي -->
        <div class="col-md-3 col-sm-4">
            <nav class="nav flex-column">
                <a class="nav-link btn btn-light mb-2" href="{% url 'profile' request.user.pk %}">Back To Profile</a>

                <a class="nav-link btn btn-warning mb-2" href="{% url 'profile-edit' request.user.pk %}">Back to Edit
                    Profile</a>
                <a class="nav-link btn btn-info mb-2" href="">Change Email</a>
            </nav>
        </div>



        <div class="col-md-9 col-sm-8">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12 border-bottom">
                    <h5>Update Your Password</h5>
                </div>
            </div>

            <div class="row justify-content-center mt-3 mb-5">
                <div class="col-md-5 col-sm-12 border-bottom">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="old_password" class="form-label">Old Password</label>
                            <input type="password" class="form-control" id="old_password" name="old_password" required>
                        </div>

                        <div class="mb-3">
                            <label for="new_password1" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="new_password1" name="new_password1"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="new_password2" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="new_password2" name="new_password2"
                                required>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-success mt-3" type="submit">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}