{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'profile' object.pk %}" class="btn btn-light">Back To Profile</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Update Your Profile</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="id_name" name="name" value="{{ form.name.value }}">
                </div>

                <div class="mb-3">
                    <label for="id_bio" class="form-label">Bio</label>
                    <textarea class="form-control" id="id_bio" name="bio">{{ form.bio.value }}</textarea>
                </div>

                <div class="mb-3">
                    <label for="id_birth_date" class="form-label">Birth Date</label>
                    <input type="text" class="form-control" id="id_birth_date" name="birth_date"
                        value="{{ form.instance.birth_date|date:'Y-m-d' }}">
                </div>


                <div class="mb-3">
                    <label for="id_location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="id_location" name="location"
                        value="{{ form.location.value }}">
                </div>

                <div class="mb-3">
                    <label for="id_picture" class="form-label">Profile Picture</label>
                    <input type="file" class="form-control" id="id_picture" name="picture">
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>

            <!-- <div class="mt-3">
                <a href="{% url 'select_image' %}" class="btn btn-secondary">Select Existing Image</a>
            </div> -->

        </div>
    </div>
</div>
{% endblock content %}